html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: $white;
    margin: 0;
}
section {
    @include flex($direction: column, $align: center);
    padding: 100px 0 120px 0;
    text-align: center;
}
p, h1, h2, h3, h4, h5, h6, ul, li, a {
    margin: 0;
    padding: 0;
}
h2 {
    font: bold 40px/75px Montserrat, sans-serif;
    letter-spacing: -0.025em;
    color: $blackText;
    text-transform: uppercase;
}
h3 {
    font: italic 16px 'Droid Serif', serif;
    color: $lightText; 
}
h4 {
    font: bold 18px Montserrat, sans-serif;
    letter-spacing: -0.025em;
    color: $blackText;
}
p {
    font: 14px 'Roboto Slab', serif;
    letter-spacing: -0.025em;
    color: $lightText;
}
button {
    width: 25%;
    height: 65px;
    color: $white;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    font: bold 18px Montserrat, sans-serif;
    text-transform: uppercase;
}