@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'global';
header {
    width: 100%;
    height: 100vh;
    max-height: 700px;
    @include flex($direction: column, $justify: space-between);
    line-height: 41px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../images/header@1x.png) center/cover no-repeat;
    nav {
        width: 100%;
        max-width: $maxWidth;
        @include margin-auto;
        padding: 48px 10px 0 10px;
        h1 {
            font-family: Wisdom;
            color: $yellow;
            font-weight: 100;
            font-size: 26px;
            letter-spacing: 0.05em;
            display: inline-block;
        }
        ul {
            float: right;
            list-style-type: none;
            li {
                display: inline-block;
                padding: 0 17px;
                &:last-child {
                    padding-right: 0;
                }
                a {
                    text-decoration: none;
                    color: $white;
                    font-family: Montserrat;
                    font-size: 14px;
                    text-transform: uppercase;
                    vertical-align: text-bottom;
                }
            }
        }
    }
    .slogan {
        width: 100%;
        max-width: $maxWidth;
        @include margin-auto;
        text-align: center;
        h2 {
            font-size: 75px;
            padding-bottom: 50px;
            color: $white;
        }
        h3 {
            text-transform: capitalize;
            font-size: 40px;
            letter-spacing: -0.025em;
            padding-bottom: 60px;
            color: $white;
        }
    }
}
.services {
    .flex-row {
        max-width: $maxWidth;
        display: flex;
        .header {
            padding-bottom: 60px;
        }
        .box {
            i {
                color: $yellow;
                &:last-child {
                    @include text-stroke(4px, #fff);
                }
            }
            h4 {
                line-height: 45px;
            }
        }
    }
}
.portfolio {
    background-color: #f7f7f7;
    .header {
        max-width: $maxWidth;
        padding-bottom: 77px;
    }
    .gallery {
        max-width: $maxWidth;
        @include grid($column: '1fr 1fr 1fr', $rowGap: 60px, $columnGap: 35px);
        .gallery-item {
            background-color: $white;
            .caption {
                padding: 20px 0;
                h4 {
                    color: #333;
                }
                p {
                    letter-spacing: normal;
                    font-style: italic;
                    color: #737373;
                }
            }
        }
    }
}
.about {
    .header {
        max-width: $maxWidth;
        padding-bottom: 75px;
    }
    .timeline {
        width: 100%;
        max-width: $maxWidth;
        @include grid($column: '[left] 3fr [middle] 2fr [right] 3fr', $rowGap: 90px, $columnGap: 20px);
        position: relative;
        .caption {
            &:nth-child(even) {
                grid-column: left;
                text-align: right;
            }
            &:nth-child(odd) {
                grid-column: right;
                text-align: left;
            }
            h4 {
                &:first-child {
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    text-transform:capitalize;
                    padding-bottom: 15px;
                }
            }
        }
        img {
            grid-column: middle;
            justify-self: center;
        }
        span {
            width: 0;
            height: 100%;
            position: absolute;
            right: 50%;
            border-right: 2px solid #f1f1f1;
            grid-column: 2 / span 1;
            grid-row: 1 / span 6;
            z-index: -1;
        }
    }
}
.team {
    background-color: #f9f9f9;
    .header {
        max-width: $maxWidth;
        h2 {
            line-height: normal;
        }
        h3 {
            padding-top: 15px;
        }
    }
    .people {
        display: flex;
        width: 100%;
        max-width: $maxWidth;
        padding: 0 80px;
        .employee {
            @include flex($direction: column);
            width: 33%;
            margin: 75px 30px 0 20px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            .photo {
                background-color: black;
                border: 7px solid white;
                border-radius: 50%;
                &:before {
                    content: "";
                padding-top: 100%;
                    display: inline-block;
                }
            }
            .caption {
                h4 {
                    font-size: 16px;
                    line-height: 50px;
                }
            }
            .social-media {
                padding: 10px 0; //dodać hover
            }
        }
    }
    .bottom-text {
        max-width: $maxWidth;
        padding: 40px 160px 0 160px;
        p {
            font-size: 16px;
        }
    }
}
.logos {
    @include flex($justify: center);
    padding: 50px 0 65px 0;
}
.contact {
    @include flex($justify: center);
    background: url(../images/mapImage.png) right no-repeat $blackText;
    form {
        max-width: $maxWidth;
        width: 100%;
        @include flex($direction: column, $align: center);
        .header {
            h2 {
                color: $white;
                line-height: normal;
                padding-bottom: 5px;
            }
        }
        .fieldset {
            @include grid($row: 1fr 1fr 1fr, $column: 1fr 1fr, $rowGap: 30px, $columnGap: 30px);
            width: 100%;
            border: none;
            margin: 80px 0 30px 0;
            padding: 0 10px;
            label {
                display: none; //fallback for browsers without css support
            }
            input {
                height: 50px;
                padding-left: 20px;
                @extend h4;
                font-size: 14px;
                line-height: 44px;
                &:first-child {
                    grid-row: 1 / span 1;
                }
                &:nth-child(2) {
                    grid-row: 2 / span 1;
                }
                &:last-child {
                    grid-row: 3 / span 1;
                }
                @extend %placeholder;
            }
            textarea {
                grid-area: 1 / 2 / 4 / 2;
                padding: 20px;
                font-family: Montserrat;
                font-weight: regular;
                font-size: 14px;
                letter-spacing: -0.025em;
                color: $blackText;
                @extend %placeholder;
            }
        }
    }
}
footer {
    padding: 15px 0;
    .container {
        @include grid($column: '1fr 1fr 1fr');
        max-width: $maxWidth;
        @include margin-auto;
        p {
            margin: auto 0;
            font-family: Montserrat;
            color: #555;
        }
        .social-media {
            justify-self: center;
        }
    }
}