@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'global';
header {
    width: 100%;
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 41px;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(../images/header@1x.png);
    background-repeat: no-repeat;
    background-size: cover;
    nav {
        width: 100%;
        max-width: $maxWidth;
        margin: 0 auto;
        padding: 48px 10px 0 10px;
        h1 {
           font-family: Wisdom;
            color: $yellow;
            font-weight: 100;
            font-size: 26px;
            letter-spacing: 0.05em;
            display: inline-block;
        }
        ul {
            float: right;
            list-style-type: none;
            li {
                display: inline-block;
                padding: 0 17px;
                &:last-child {
                    padding-right: 0;
                }
                a {
                    text-decoration: none;
                    color: $white;
                    font-family: Montserrat;
                    font-size: 14px;
                    text-transform: uppercase;
                    vertical-align: text-bottom;
                }
            }
        }
    }
    .slogan {
        width: 100%;
        max-width: $maxWidth;
        margin: 0 auto;
        text-align: center;
        h2 {
            font-size: 75px;
            padding-bottom: 50px;
            color: $white;
        }
        h3 {
            text-transform: capitalize;
            font-size: 40px;
            letter-spacing: -0.025em;
            padding-bottom: 60px;
            color: $white;
        }
    }
}
.services {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 95px 0 120px 0;
    .flex-row {
        max-width: $maxWidth;
        display: flex;
        text-align: center;
        .header {
            padding-bottom: 60px;
        }
        .box {
            i {
                color: $yellow;
                &:last-child {
                    @include text-stroke(4px, #fff);
                }
            }
            h4 {
                font-family: Montserrat;
                font-size: 18px;
                line-height: 45px;
                letter-spacing: -0.025em;
                color: $blackText;
            }
            P {
                font-family: 'Roboto Slab';
                font-size: 14px;
                letter-spacing: -0.025em;
                color: $lightText;
            }
        }
    }
}
.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    text-align: center;
    padding: 90px 0 125px 0;
    .header {
        max-width: $maxWidth;
        padding-bottom: 77px;
    }
    .gallery {
        max-width: $maxWidth;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 35px;
        grid-row-gap: 60px;
        .gallery-item {
            background-color: $white;
            .caption {
                padding: 20px 0;
                h4 {
                    font-family: Montserrat;
                    font-size: 18px;
                    letter-spacing: -0.025em;
                    color: #333;
                }
                p {
                    font-family: 'Droid Serif';
                    font-style: italic;
                    font-size: 14px;
                    color: #737373;
                }
            }
        }
    }
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 95px 0 126px 0;
    .header {
        max-width: $maxWidth;
        padding-bottom: 75px;
    }
    .timeline {
        width: 100%;
        max-width: $maxWidth;
        display: grid;
        grid-template-columns: [left] 3fr [middle] 2fr [right] 3fr;
        grid-row-gap: 90px;
        grid-column-gap: 20px;
        position: relative;
        .caption {
            &:nth-child(even) {
                grid-column: left;
                text-align: right;
            }
            &:nth-child(odd) {
                grid-column: right;
                text-align: left;
            }
            h4 {
                font-family: Montserrat;
                font-size: 18px;
                letter-spacing: -0.025em;
                color: $blackText;
                &:first-child {
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    text-transform:capitalize;
                    padding-bottom: 15px;
                }
            }
            p {
                font-family: 'Roboto Slab';
                font-size: 14px;
                letter-spacing: -0.025em;
                color: $lightText;
            }
        }
        img {
            grid-column: middle;
            justify-self: center;
        }
        span {
            width: 0;
            height: 100%;
            position: absolute;
            right: 50%;
            border-right: 2px solid #f1f1f1;
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 8;
            z-index: -1;
        }
    }
}
.team {
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 105px 0 120px 0;
    background-color: #f9f9f9;
    .header {
        max-width: $maxWidth;
        text-align: center;
        h2 {
            line-height: normal;
        }
        h3 {
            padding-top: 15px;
        }
    }
    .people {
        display: flex;
        width: 100%;
        max-width: $maxWidth;
        text-align: center;
        padding: 0 80px;
        .employee {
            display: flex;
            flex-direction: column;
            width: 33%;
            margin: 75px 30px 0 20px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            .photo {
                background-color: black;
                border: 7px solid white;
                border-radius: 50%;
                &:before {
                    content: "";
                padding-top: 100%;
                    display: inline-block;
                }
            }
            .caption {
                h4 {
                    font-family: Montserrat;
                    font-size: 16px;
                    line-height: 50px;
                    letter-spacing: -0.025em;
                    color: $blackText;
                }
                p {
                    font-family: 'Roboto Slab';
                    font-size: 14px;
                    letter-spacing: -0.025em;
                    color: $lightText;
                }
            }
            .social-media {
                padding: 10px 0; //dodać hover
            }
        }
    }
    .bottom-text {
        max-width: $maxWidth;
        text-align: center;
        padding: 40px 160px 0 160px;
        p {
            font-family: 'Roboto Slab';
            font-size: 16px;
            letter-spacing: -0.025em;
            color: $lightText;
        }
    }
}
.logos {
    display: flex;
    justify-content: center;
    padding: 50px 0 65px 0;
}
.contact {
    background-color: $blackText;
    background-image:url(../images/mapImage.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: center;
    padding: 100px 0 115px 0;
    text-align: center;
    form {
        max-width: $maxWidth;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .header {
            h2 {
                color: $white;
                line-height: normal;
                padding-bottom: 5px;
            }
        }
        .fieldset {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            width: 100%;
            border: none;
            margin: 80px 0 30px 0;
            padding: 0 10px;
            label {
                display: none;
            }
            input {
                height: 50px;
                padding-left: 20px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 14px;
                letter-spacing: -0.025em;
                color: $blackText;
                line-height: 44px;
                &:first-child {
                    grid-row: 1 / 2;
                }
                &:nth-child(2) {
                    grid-row: 2 / 3;
                }
                &:last-child {
                    grid-row: 3 / 4;
                }
                @extend %placeholder;
            }
            textarea {
                grid-area: 1 / 2 / 4 / 2;
                padding: 20px;
                font-family: Montserrat;
                font-weight: regular;
                font-size: 14px;
                letter-spacing: -0.025em;
                color: $blackText;
                @extend %placeholder;
            }
        }
    }
}
footer {
    padding: 15px 0;
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: $maxWidth;
        margin: 0 auto;
        p {
            display: flex;
            align-items: center;
            font-family: Montserrat;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.025em;
            color: #555;
        }
        .social-media {
            justify-self: center;
        }
    }
}